.container-fluid {
    font-family: "Montserrat", sans-serif;
    h5 {
        font-size: 18px;
        font-weight: 600;
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
    }
    h6 {
        font-size: 14px;
        font-weight: 500px;
    }
}

.count-box {
    border: 12px solid;
}
