.count-block-styles {
    font-family: "Montserrat", sans-serif;
    h5 {
        margin-top: 20px;
        margin-bottom: 16px !important;
        font-size: 18px !important;
        font-weight: 600;
        padding-left: 22px;
    }
    .count-div {
        margin-left: 24px;
        margin-right: 0px;
    }
    .count-single-card {
        margin-right: 10px;
    }
    h4 {
        font-size: 24px;
        letter-spacing: 0.04em;
        font-weight: bold;
    }
    h6 {
        font-weight: 500;
        font-size: 14px;
    }
    .count-box {
        border: 12px solid;
    }
}
