#data-right-table {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border-left: 0px !important;
    tr {
        background-color: white;
    }
    th {
        border-left: 2px solid black;
        padding: 5px 0px 5px 5px;
        font-size: 14px;
        width: 30%;
        height: 63px;
    }
}
#data-right-table tbody tr {
    background-color: white !important;
}

#data-right-table th:first-child {
    border-right: 0px solid black !important;
    border-left: 2px solid black !important;
    margin-left: -1rem !important;
}

#data-right-table tbody td {
    font-size: 12px;
    border-left: 1px solid gray;
    width: 20%;
    height: 63px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
}
#data-right-table tbody td:first-child {
    border-left: 2px solid black;
}

