.strip {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 20px;
    box-shadow: 0px 4px 7px rgba(193, 193, 193, 0.25);
}
.button-togglers {
    padding: 1px 1px !important;
}
