.startup-list-styles {
    font-family: "Montserrat", sans-serif;
    .startup-heading {
        font-weight: 600;
        margin-bottom: 25px;
    }
    .startup-list-card-container {
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25);
        border-radius: 4px;
    }
   
    .start-up-card {
        background: #f8f8f8;
        border-radius: 4px;
        margin-bottom: 16px;
        padding: 18px;
        width: 48.6%;
    }
    .company-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;
        white-space: nowrap;
    }
    .stage-sector-div {
        margin-bottom: 12px;
    }
    .start-up-location {
        font-size: small;
    }
}
