table {
    font-family: "Montserrat", sans-serif;
    width: 726px !important;
    th {
        border-left: 2px dashed black;
        padding: 5px 5px 5px 9px;
        font-size: 14px;
        width: 100px;
        height: 63px;
    }
}
table tbody tr {
    background-color: #f1f1f1 !important;
    // width: 846px !important;
    height: 85px;
    box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25);
    border-radius: 4px;
    border: 0px !important;
}
th:first-child {
    border-right: 2px solid black !important;
    border-left: 0px;
}
th:nth-child(2) {
    border-right: 0px solid black !important;
    border-left: 0px;
}
table tbody td {
    font-size: 12px;
    border-left: 2px dashed black;
    width: 100px;
    height: 63px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
td:first-child {
    border: 0px;
    background-color: white;
}
td:nth-child(2) {
    border: 0px;
}
