div {
    font-family: "Montserrat", sans-serif;
    button {
        font-weight: 500;
        font-size: 14px;
        line-height: 2px;
    }
    .card-heading-left-bottom {
        font-weight: 600;
        font-size: 18px !important;
    }
}
.sub-heading {
    font-weight: 500;
    font-size: 14px;
}
.btn-primary {
    font-size: 14px !important;
}
input {
    border: 0px !important;
    font-size: 14px;
    font-weight: 400px;
}
.input-group {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25);
}

.border-bottom-filter {
    border-bottom: 0.5px solid lightgray !important;
}

.row .my-3 .px-2 .py-0 .bg-white {
    box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25) !important;
}

.left-nav-bottom-card {
    box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25) !important;
}
