.search-bar-comman-component {
    .search {
        box-shadow: 0;
    }
    .search-btn {
        background: #0177fa;
        border: 2px solid #0177fa;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(1, 119, 250, 0.2);
        border-radius: 4px;
        width: 111px !important;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
    }
    .search-icon {
        background: #f8f8f8;
        border-radius: 4px;
    }
    .shadow-none,
    .search-input {
        background: #f8f8f8;
        border-radius: 4px;
        border: 0px;
    }
    .btn-radius {
        border-radius: 4px;
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }
}
